<div class="container">
    <h1>All Gigs</h1>

    <h2> Filter </h2>

    <% if (successMessage) { %>
      <div class="success-message"><%= successMessage %></div>
    <% } %>

    
    <form action="/gigs" method="GET">
      <input type="text" name="search" placeholder="Search by artist or location" value="<%= searchTerm || '' %>" />
      <label for="startDate">From:</label>
      <input type="date" name="startDate" value="<%= startDate || '' %>" />
      <label for="endDate">To:</label>
      <input type="date" name="endDate" value="<%= endDate || '' %>" />
      <button type="submit" class="btn">Filter</button>
      <a href="/gigs" class="btn">Clear</a>
      <a href="/add-gig" class="btn">Add a new Gig</a>
    </form>

    <% if (gigs.length === 0) { %>
      <p>No gigs found.</p>
    <% } else { %>
      <table>
        <tr>
          <th>Artist</th>
          <th>Location</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
        <% gigs.forEach(gig => { %>
          <tr>
            <td><%= gig.title %></td>
            <td><%= gig.location %></td>
            <td><%= new Date(gig.date).toLocaleDateString() %></td>
            <td>
              <% if (currentUser && currentUser.id === gig.user_id) { %>
                <a href="/edit-gig/<%= gig.id %>" class="btn">Edit</a>
                <form action="/delete-gig/<%= gig.id %>" method="POST" style="display:inline;">
                  <button type="submit"class="btn">Delete</button>
                </form>
              <% } %>
              <% if (currentUser) { %>
                <form action="/gigs/<%= gig.id %>/rsvp" method="POST" style="display:inline;">
                  <button type="submit" class="btn">RSVP</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </table>
    <% } %>  
</div>
